#registerForm, #loginForm {
    border-radius: 8px;
    padding: 50px;
    margin: 0% auto;
    max-width: 500px;
    transform: translateY(30%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#loginForm {
    transform: translateY(50%);
}

.required, .error, .error li {
    color: red;
}

.body-wrapper {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #F8387B, #E1105C);
}

.balance-block {
    color: #E1105C;
    font-weight: bold;
    padding: 50px;
    border-radius: 20px;
    margin-top: 50px;
    background-color: #fff;
}

.user-balance {
    display: inline;
    padding: 10px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, #F8387B, #E1105C);
    color: #fff;
}

.user-invite-code {
    color: #444;
}

.menu-block {
    margin-top: 20px;
}

.menu {
    text-align: center;
    border-radius: 10px;
    height: 180px;
}

.menu img {
    margin-top: 5px;
    max-width: 50%;
}

.menu-text {
    font-weight: bold;
    color: #444;
}

a {
    text-decoration: none;
}

.image-block {
    margin-top: 20px;
}

.image-block img {
    border-radius: 20px;
}

.footerlog {
    margin-top: 50px;
    margin-bottom: 20px;
}
.recharge-title {
    height: 80px;
    background-color: #fff;
}

.history-link {
    color: #E1105C;
    text-decoration: underline;
}

.history-link:hover {
    color: #E1105C;
    text-decoration: underline;
}

.link-white {
    color: #fff;
    text-decoration: underline;
}

.link-white:hover {
    color: #fff;
}

.recharge-balance {
    height: 80px;
    color: #fff;
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
}

.recharge-content, .deposit-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

#recharge_label {
    background: #fff !important;
    color: #E1105C;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    border: 3px solid #E1105C;
    border-right: none;
}

#recharge_money {
    border-left: none;
    border: 3px solid #E1105C;
    text-align: right;
    font-size: 30px;
    font-weight: bold;
}

.recharge_note1 {
    color: #888;
}

.recharge_note2 {
    font-weight: bold;
}

#recharge_money:focus {
    box-shadow: none;
}

.money_ex {
    color: #E1105C;
    font-size: 25px;
    font-weight: bold;
    background-color: #fff;
    border: 2px solid #E1105C;
    border-radius: 40px;
    padding: 20px 50px;
    width: 100%;
}

.btnRecharge {
    color: #fff;
    background-color: #E1105C;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    border-radius: 50px;
    font-size: 35px;
    font-weight: bold;
}

.payment-block {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.btnPayment {
    color: #fff;
    background-color: transparent;
    border: none;
}

.confirm_recharge_block {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.btnDeposit {
    margin-bottom: 100px;
    color: #E1105C;
    background-color: #fff;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
}

footer {
    background-color: #fff;
    position:fixed;
    width: 100%;
    bottom: 0;
}

.menu-block2 {
    display: inline-block;
    width: 18%;
    color: #000;
}

.menu-block2:hover {
    color: #E1105C;
}

.menu-icon {
    max-width: 50px;
}

.menu-active {
    color: #E1105C;
}

.recharge-history-block {
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
}

.me {
    min-height: 150vh;
    background-color: #fff;
}

.me-info {
    padding: 30px;
    background-image: linear-gradient(to bottom, #F8387B, #E1105C);
}

.me-block {
    padding: 5px;
    padding-left: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: linear-gradient(1deg, rgba(209, 171, 80, 0.99), rgba(241, 221, 122, 0.99), rgba(196, 150, 62, 0.99));
}

.me-content {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}

pre {
	white-space: pre-line;
}

.charge-deposit {
    border: 1px solid #E1105C;
    background-color: #E1105C;
    border-radius: 10px;
}

.charge-deposit-logo {
    padding: 10px 50px;
}

.charge-deposit-text {
    border-radius: 0 0 10px 10px;
    padding: 10px 50px;
    background-color: #fff;
}

.charge-deposit-text a {
    color: #E1105C;
}

.charge-deposit-menu {
    border-radius: 10px;
    padding: 6px;
    background: linear-gradient(-90deg, #E4497E, #FF87B0);
}

.charge-deposit-menu a {
    color: #555;
    font-size: 18px;
    font-weight: bold;
}

.agreement {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.btn-logout {
    padding: 10px;
    border-radius: 40px;
    background-color: #fff;
}

.btn-logout a {
    color: #E1105C;
}

.station-item {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    color: #a6c4c3;
}

.nodata {
    margin-top: 100px;
    color: #a6c4c3
}

@media screen and (max-width: 992px) {
    .balance-block {
        padding: 30px;
    }
    .menu {
        height: 100px;
    }
    .menu img {
        margin-top: 5px;
        max-height: 50%;
    }
    .money_ex {
        padding: 10px 20px;
        font-size: 100%;
    }
}
